## 0. Import Required Libraries

> **Note:** Please copy the data to the root folder and adjust the file name (energy_data.csv).

In [11]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error
import numpy as np

## 1. Load the CSV Data

In [12]:
# Load the CSV data into a DataFrame
df = pd.read_csv('energy_data.csv', delimiter=';')

# Convert the DATEFROM and TIMEFROM columns into a datetime format
df['DATETIME'] = pd.to_datetime(df['DATEFROM'] + ' ' + df['TIMEFROM'])

# Display the first few rows of the dataframe
df.head()

   PROFILE    DATEFROM  TIMEFROM  VALUE UNIT            DATETIME
0   740105  2023.03.01  00:00:00  0.880  KWH 2023-03-01 00:00:00
1   740105  2023.03.01  00:15:00  0.968  KWH 2023-03-01 00:15:00
2   740105  2023.03.01  00:30:00  0.906  KWH 2023-03-01 00:30:00
3   740105  2023.03.01  00:45:00  0.916  KWH 2023-03-01 00:45:00
4   740105  2023.03.01  01:00:00  0.977  KWH 2023-03-01 01:00:00

## 2. Cleaning the Data

In [13]:
# Step 1: Handle Missing Values
# In this case, we'll drop rows with any missing values. 
# Alternatively, you can fill missing values with df.fillna() if appropriate.
df_cleaned = df.dropna()

# Step 2: Remove Duplicates
# Assuming a combination of PROFILE, DATEFROM, and TIMEFROM uniquely identifies each record,
# we remove duplicates based on these columns.
df_cleaned = df_cleaned.drop_duplicates(subset=['PROFILE', 'DATEFROM', 'TIMEFROM'])

# Step 3: Correct Data Types
# The 'VALUE' column should be numeric. Let's ensure this.
df_cleaned['VALUE'] = pd.to_numeric(df_cleaned['VALUE'], errors='coerce')

# Handle possible conversion issues by dropping rows with NaNs in 'VALUE' after conversion.
df_cleaned = df_cleaned.dropna(subset=['VALUE'])

# Now, let's correct the datetime conversion as before but now with the cleaned data
df_cleaned['DATETIME'] = pd.to_datetime(df_cleaned['DATEFROM'] + ' ' + df_cleaned['TIMEFROM'])

# Display the first few rows of the cleaned dataframe to verify
df_cleaned.head()

## check missing datapoints

   PROFILE    DATEFROM  TIMEFROM  VALUE UNIT            DATETIME
0   740105  2023.03.01  00:00:00  0.880  KWH 2023-03-01 00:00:00
1   740105  2023.03.01  00:15:00  0.968  KWH 2023-03-01 00:15:00
2   740105  2023.03.01  00:30:00  0.906  KWH 2023-03-01 00:30:00
3   740105  2023.03.01  00:45:00  0.916  KWH 2023-03-01 00:45:00
4   740105  2023.03.01  01:00:00  0.977  KWH 2023-03-01 01:00:00

## 3. Analyze the Data

### Total Energy Consumption

In [14]:
total_energy_consumption = df['VALUE'].sum()
print(f"Total Energy Consumption: {total_energy_consumption} KWH")

Total Energy Consumption: 864343.2250000003 KWH

### 3.1 Data Preparation

In [15]:
# Group by day and sum the energy values
daily_data = df_cleaned.set_index('DATETIME').resample('D')['VALUE'].sum().reset_index()

### 3.2 Feature Engineering

In [16]:
# Add day of the week and weekend as features
daily_data['day_of_week'] = daily_data['DATETIME'].dt.dayofweek
daily_data['is_weekend'] = daily_data['day_of_week'].isin([5, 6]).astype(int)

### 3.3 Splitting the dataset

Split the data into training and test sets to ensure the model can be validated independently.

In [17]:
from sklearn.model_selection import train_test_split

# Define features and target
X = daily_data[['day_of_week', 'is_weekend']]
y = daily_data['VALUE']

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

### 3.4 Model Selection

In [18]:
def train_and_evaluate(X_train, X_test, y_train, y_test):
    models = {
        'Linear Regression': LinearRegression(),
        'Random Forest': RandomForestRegressor(n_estimators=100, random_state=42),
        'Gradient Boosting': GradientBoostingRegressor(n_estimators=100, random_state=42)
    }
    
    results = {}
    
    for name, model in models.items():
        # Train the model
        model.fit(X_train, y_train)
        
        # Predict on test data
        y_pred = model.predict(X_test)
        
        # Calculate evaluation metrics
        rmse = np.sqrt(mean_squared_error(y_test, y_pred))
        mae = mean_absolute_error(y_test, y_pred)
        
        # Store results
        results[name] = {'RMSE': rmse, 'MAE': mae}
    
    return results


# Train and evaluate models
results = train_and_evaluate(X_train, X_test, y_train, y_test)

### 3.5 Model Evaluation

Evaluate the models using metrics such as Mean Absolute Error (MAE) or Root Mean Square Error (RMSE).

In [19]:

for model, metrics in results.items():
    print(f"{model} - RMSE: {metrics['RMSE']:.2f}, MAE: {metrics['MAE']:.2f}")

Linear Regression - RMSE: 1134.87, MAE: 947.75
Random Forest - RMSE: 1137.31, MAE: 948.38
Gradient Boosting - RMSE: 1137.50, MAE: 948.59